@import url("https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap");

.app {
  height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 300px;
  background-color: #3f3f3f;
}

button {
  padding: 20px;
  border-radius: 15px;
  width: 200px;
  height: 200px;
  margin: 20px;
  font-size: 25px;
  font-family: "Bagel Fat One", cursive;
}

.normal {
  border: 7px black solid;
  background-color: white;
}

.color1 {
  border: 7px #d950ae solid;
  background-color: #efc6d4;
  color: #d950ae;
}

.color2 {
  border: 7px #aae847 solid;
  background-color: #d950ae;
  color: #aae847;
}

.color3 {
  border: 7px #d950ae solid;
  background-color: #aae847;
  color: #d950ae;
}
